<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8">
        <title>Angular Example</title>
        <link rel="stylesheet" href="style.css"></link>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="./node_modules/angular-datatables/dist/css/angular-datatables.min.css"> 
        
    </head>
    <body ng-controller="mainController">
        <div class="tableClass">
        <form class="form-inline" ng-submit="">
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>
                                    <input class="form-control" type="number" name="id" value="">
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>
                                    <input class="form-control" type="number" name="id" value="">
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>
                                    <input type="text" class="form-control" name="firstName"  value="">
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>
                                    <input type="text" class="form-control" name="lastName" value="">
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Interface</th>
                        <th>Speed</th>
                        <th>Bandwidth</th>
                        <th>Port type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="d in data">
                        <td ng-click="toggleHiddenRow(d.interface)"><i style="color: green" class="fas fa-plus-circle"></i></td>
                        <td>{{ d.interface }}</td>
                        <td>{{ d.speed }}</td>
                        <td>{{ d.bandwidth }}</td>
                        <td>{{ d.port_type }}</td>
                        <td>
                            <button type="button" ng-click="editModal(d)" style="font-size: 10px;" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-warning btn-sm"><i class="far fa-edit"></i></button>
                            <button type="button" style="font-size: 10px;" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="activeRow == d.interface">
                            <td colspan="5">
                                <div >
                                    <table class="subTable" id="table_id" class="display">
                                        <thead>
                                            <tr>
                                                <th></th>                        
                                                <th>VLAN name</th>
                                                <th>VLAN number</th>
                                                <th>Speed</th>
                                                <th>Actions</th>
                                            </tr>
                                            <tbody>
                                                <tr ng-repeat="a in data">
                                                    <td><i style="color: green" class="fas fa-plus-circle"></i></td>
                                                    <td>{{a.sub.vlan_name}}</td>
                                                    <td>{{a.sub.vlan_number}}</td>
                                                    <td>{{a.sub.speed}}</td>
                                                    <td>
                                                        <button type="button" style="font-size: 10px;" class="btn btn-warning btn-sm"><i class="far fa-edit"></i></button>
                                                        <button type="button" style="font-size: 10px;" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                                    </td>                                      
                                                </tr>
                                            </tbody>
                                        </thead>
                                    </table>
                                </div>
                            </td>
                        </tr>  
                </tbody>
            </table>
        </form>
        </div>


        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Interface</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{values.interface}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Speed</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{values.speed}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Bandwidth</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="{{values.bandwidth}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Port type</label>
                            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="{{values.port_type}}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>   
    <script type="text/javascript" src="./node_modules/datatables.net/js/jquery.dataTables.js"></script>    
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>         
    <script type="text/javascript" src="./node_modules/angular-datatables/dist/angular-datatables.min.js"></script>    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>

</html>
